services:
  nginx:
    image: nginx:1.27.5-alpine
    container_name: todo-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - todo-net

networks:
  todo-net:
    external: true
