services:
  nginx:
    image: nginx:1.27.5-alpine
    container_name: todo-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - todo-net

networks:
  todo-net:
    external: true